<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Share</title>
</head>

<body>
    <div style="width:550px;margin:100px auto;">
        <ul>
            <%links.forEach((item)=>{%>
                <li><a href="/file/<%=item.id%>">
                        /file/<%=item.orignalName%>
                    </a> <span><a href="/delete/<%=item.id%>">Delete</a></span></li>
                <%})%>


        </ul>
    </div>
</body>

</html>