<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Share</title>
</head>

<body>


    <div style="width:550px;margin:100px auto;">
        <h2>File Share</h2>
        <br> <br>
        <% if(locals.error==true){%>

            <p style="color: red; ">Password incorrect!</p>

            <%}%>

                <form method="post">

                    <br>
                    <label for="">Enter Password</label>
                    <input type="text" name="password" min="3" required>
                    <br>
                    <br>
                    <button type="submit" style="width:80%;margin:0 auto;">download now!</button>
                </form>
    </div>
</body>

</html>